[project]
	description = softclub_test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/m0nstr0
[access "refs/for/refs/*"]
	read = group user/m0nstr0
	push = group user/m0nstr0
	label-Code-Review = -2..+2 group user/m0nstr0
	label-Verified = -1..+1 group user/m0nstr0
	rebase = group user/m0nstr0
	removeReviewer = group user/m0nstr0
	submit = group user/m0nstr0
[access "refs/heads/*"]
	read = group user/m0nstr0
	create = group user/m0nstr0
	push = +force group user/m0nstr0
	pushMerge = group user/m0nstr0
[access "refs/tags/*"]
	push = +force group user/m0nstr0
	pushTag = group user/m0nstr0
	pushSignedTag = group user/m0nstr0
